* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%); 
  --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
  font-size: 1em;
  font-family: "Poppins", serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(./assets/images/bg-intro-mobile.png);
  background-size: contain;
  background-color: var(--Red);
}


/*header*/

#header--container {
  padding: 2em;
}

#header--container #header--title {
  max-width: 350px;
  font-size: 2em;
  margin: 1em auto;
  color: #fff;
}

#header--container #header--text {
  padding: 0 1.2em;
  max-width: 350px;
  margin: 0 auto;
  color: #ffe5e4;
  font-weight: 500;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#row-item {
  width: 328px;
  height: 96px;
  background-color: var(--Blue);
  margin-bottom: 2em;
  border-radius: 10px;
}

#sub--title {
  padding: 0 5em;
  margin-top: 1.5em;
  line-height: 24px;
}

#form--container {
  width: 328px;
  background-color: #fff;
  color: var(--Grayish-Blue);
  border-radius: 10px;
  margin-bottom: 2em;
}

input[name='firstName'] {
  margin-top: 3em;
}

.Row-item {
  position: relative;
  top: 0;
  left: 0;
}

input {
  width: 300px;
  height: 55px;
  margin: 1.1em 0;
  border-radius: 7px;
  background-color: transparent;
<<<<<<< HEAD
=======
  border: none;
  outline: 1px solid #b9b6d3;
>>>>>>> 72a4323d8c81c2adbecdbd417f93f387365b1f75
  color: #000;
  padding-left: 1em;
}

.Row-item input {
  border: 1px solid #b9b6d3;
}

input::placeholder {
  font-weight: bold;
  text-transform: capitalize;
}

input:focus, #submit-btn:focus {
  outline: none;
}

.error-sms1-img {
  position: absolute;
  top: 4em;
  right: 2em;
}

.error-sms2-img, .error-sms3-img, .error-sms4-img {
  position: absolute;
  top: 2.2em;
  right: 2em;
}

.error-sms1-txt, .error-sms2-txt, .error-sms3-txt,.error-sms4-txt {
  color: var(--Red);
  position: absolute;
  bottom: -8px;
  left: 1.2em;
}

#submit-btn {
  width: 300px;
  height: 50px;
  margin: 1.3em 0 0 0;
  background-color: var(--Green);
}

#final-txt {
  padding: 0 1em;
}

#Services {
  font-size: .9em;
  padding: 1em;
}

.red-txt {
  color: var(--Red);
}


@media (min-width: 800px) {
  body main{
    display: flex;
    flex-direction: row;
  }


  #header--container {
    position: relative;
    top: 13em;
    text-align: left;
  }


  #header--container #header--title {
    font-size: 2.2em;
  }

  #header--container #header--text {
    padding: 0 ;
    max-width: 350px;
    margin: 0 auto;
    color: #ffe5e4;
    font-weight: 500;
  }
  
  


  

  
}


@media (min-width: 1280px) {
  body main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1200px;
    overflow: hidden;
  }

  #form--container, #row-item  {
    width: 543px;
  }

  #header--container #header--title {
    max-width: 450px;
    font-size: 3em;
  }

  #header--container #header--text {
    padding: 0 ;
    max-width: 450px;
  }

  #sub--title {
    padding: 0 5em;
    margin-top: 1em;
    line-height: 24px;
  }
  
  #form--container {
    height: 564px;
  }

  #row-item {
    height: 50px;
    margin: 4em 0 2em 0;
    border-radius: 7px;
  }
  
 input, #submit-btn {
  width: 461px;
 }

  input {
    margin: 1.4em 0;
  }


  #submit-btn {
    margin-top: 2em;
  }

  .error-sms1-img {
    top: 4.2em;
    right: 4.5em;
  }
  
  .error-sms2-img, .error-sms3-img, .error-sms4-img {
    top: 2.6em;
    right: 4.5em;
  }
  
  .error-sms1-txt, .error-sms2-txt,.error-sms4-txt {
    right: -16em;
  }
  .error-sms3-txt {
    right: -19em;
  }

  #Services {
    padding: 2em 0;
  }
  

  
}