* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%); 
  --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
  font-size: 1em;
  font-family: "Poppins", serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(./assets/images/bg-intro-mobile.png);
  background-size: contain;
  background-color: var(--Red);
}


/*header*/

#header--container {
  padding: 2em;
}

#header--container #header--title {
  max-width: 350px;
  font-size: 2em;
  margin: 1em auto;
  color: #fff;
}

#header--container #header--text {
  padding: 0 1.2em;
  max-width: 350px;
  margin: 0 auto;
  color: #ffe5e4;
  font-weight: 500;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


#row-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 96px;
  background-color: var(--Blue);
  margin-bottom: 2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
  border-radius: 7px;
  font-weight: 300;
}

#sub--title {
  padding: 0 5em;
  line-height: 24px;
}

#form--container {
  width: 328px;
  background-color: #fff;
  color: var(--Grayish-Blue);
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
}

input[name='firstName'] {
  margin-top: 3em;
}

.Row-item {
  position: relative;
  top: 0;
  left: 0;
}

input {
  width: 300px;
  height: 55px;
  margin: 1.1em 0;
  border-radius: 7px;
  background-color: transparent;
  border: none;
  color: #000;
  padding-left: 1em;
}

.Row-item input {
  border: 1px solid #b9b6d3;
}

input::placeholder {
  font-weight: bold;
  text-transform: capitalize;
}

input:focus, #submit-btn:focus {
  outline: none;
}
.placeholder-red::placeholder{
   color: var(--Red);
}

.error-sms1-img {
  position: absolute;
  top: 4em;
  right: 2em;
}


.error-sms2-img, .error-sms3-img, .error-sms4-img {
  position: absolute;
  top: 2.2em;
  right: 2em;
}

.error-sms1-txt, .error-sms2-txt, .error-sms3-txt,.error-sms4-txt {
  color: var(--Red);
  position: absolute;
  bottom: -8px;
  left: 1.2em;

  font-style: oblique;
}

#submit-btn {
  text-transform: uppercase;
  letter-spacing: .5px;
  width: 300px;
  height: 50px;
  margin: 1.3em 0 0 0;
  background-color: var(--Green);
  border: none;
  outline: none;
}

#submit-btn:hover {
  background-color: #77e2b4;
}


#final-txt {
  padding: 0 1em;
}

#Services {
  font-size: .9em;
  padding: 1em;
}

.red-txt {
  color: var(--Red);
}


/*you need to fix all the erros-img and erros-text */


@media (min-width: 800px) {
  body main{
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  #row-item {
    height: 75px;
    margin: 1em 0;
  }

  .error-sms1-img {
    top: 3em;
  }
  
  

  input[name='firstName'] {
    margin-top: 1.7em;
  }

  #header--container {
    position: relative;
    top: 8.5em;
    text-align: left;
  }

  #header--container #header--text {
    padding: 0 ;
  }
  
}

@media (min-width: 1024px) {

  body {
  background-image: url(./assets/images/bg-intro-desktop.png);
  }


  body main{
    width: 1000px;
  }


  .error-sms1-img {
  position: absolute;
  top: 4em;
  right: 5em;
}


.error-sms2-img, .error-sms3-img, .error-sms4-img {
  position: absolute;
  top: 2.2em;
  right: 5em;
}

.error-sms1-txt, .error-sms2-txt{
  left: 17.2em;
}

.error-sms3-txt{
  left:19.9em;
}

.error-sms4-txt {
  left: 17.5em;
}




  #header--container {
    top: 13em;
  }


  #header--container #header--title {
    font-size: 3.4em;
  }

  #header--container #header--title ,
  #header--container #header--text {
    max-width: 400px;
  }

  #header--container #header--text {
    padding: 0;
  }
  


  #form--container,  #row-item  {
    width: 500px;
  }

  input[name='firstName'] {
    margin-top: 3em;
  }
  

  input, #submit-btn {
    width: 400px;
  }

  #Services {
  font-size: .9em;
  padding: 2em 3em;
} 
}

@media (min-width: 1358px) {
  body main{
    justify-content: space-evenly;
    width: 1200px;
  }

  #header--container #header--title {
    margin: 1em 0 .5em 0;
    color: #fff;
  }

  #header--container #header--title ,
  #header--container #header--text {
    max-width: 500px;
    border: 1px solid outset;
  }


  input {
    margin: 1.3em 0;
  }

  input, #submit-btn {
    width: 460px;
  }

  
  #row-item  {
    margin-bottom: 2.2em;
  }

  #form--container,  #row-item  {
    width: 538px;
  }

  #form--container {
    height: 547px;
  }


  .error-sms1-img {
  right: 4em;
}


.error-sms2-img, .error-sms3-img, .error-sms4-img {
  right: 4em;
}

.error-sms1-txt, .error-sms2-txt{
  left: 20.5em;
}

.error-sms3-txt{
  left:23.2em;
}

.error-sms4-txt {
  left: 20.7em;
}

}

@media (min-width: 1440px) {
  body main{
    width: 1500px;
  } 
  

  #header--container #header--title {
    font-size: 4em;
  } 

  #header--container #header--title ,
  #header--container #header--text {
    max-width: 600px;
  }


  #header--container #header--text {
    font-size: 1.3em;
  }
}